.action-bar {
    background-color: #ef473a;
    color: #fff;
}

.drawerContent {
    background-color: gray;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}
.drawerSectionItem {
    padding: 10;
}